MONGO_INITDB_ROOT_USERNAME=EXAMPLE
MONGO_INITDB_ROOT_PASSWORD=EXAMPLE

MONGO_USERNAME=EXAMPLE
MONGO_PASSWORD=EXAMPLE
MONGO_DATABASE_NAME=EXAMPLE
MONGO_HOST=EXAMPLE
MONGO_PORT=EXAMPLE

ML_SERVICE_URL=EXAMPLE